<!DOCTYPE html>
<html>
  <head>
    <title>Twisty Puzzle Guide - Guides to solving Twisty Puzzles</title>
    <%= stylesheet_link_tag "app" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="nav_wrapper wrapper">
      <nav class="top_level">
        <%= link_to 'Twisty Puzzle Guide', '/index.html', class: 'home_link' %>
      </nav>
    </div>

    <div class="divider">

    </div>

    <div class="main_wrapper wrapper">
      <%= yield %>
    </div>

    <div class="footer_wrapper wrapper">
      <footer>
        <p>Twisty Puzzle Guide</p>
      </footer>
    </div>
  </body>
</html>
