<article>
  <h1>3x4x5 Cuboid Phase 2</h1>

  <%= partial('3x4x5_nav', locals: {current_phase: 2}) %>

  <% data.cases.select { |c| c.puzzle == '3x4x5-cuboid' && c.phase == 2 }.map(&:step).uniq.each do |step| %>
    <%= partial(:step, locals: {cases: data.cases.select { |c| c.puzzle == '3x4x5-cuboid' && c.phase == 2 && c.step == step }}) %>
  <% end %>

  <a class="next_page" href="phase-3.html">Next Phase</a>
</article>
