<article>
  <h1>Twisty Puzzle Guide</h1>

  <p class="subtitle">Guides to solving Twisty Puzzles</p>

  <ul class="guides">
    <% data.sections.select { |c| c.phase == 1 || c.phase.nil? }.map { |c| [c.guide, c.phase] }.uniq.each do |guide, phase| %>
      <li class="guide">
        <% if phase.nil? %>
          <a href="puzzles/<%= guide %>.html"><%= guide.titleize %></a>
        <% else %>
          <a href="puzzles/<%= guide %>/phases/1.html"><%= guide.titleize %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</article>
