<article>
  <h1>Twisty Puzzle Guide</h1>

  <p class="subtitle">Guides to solving Twisty Puzzles</p>

  <ul class="guides">
    <% data.guides.each do |guide| %>
      <li class="guide">
        <% if guide.phases_count == 1 %>
          <a href="puzzles/<%= guide.name %>.html"><%= guide.title %></a>
        <% else %>
          <a href="puzzles/<%= guide.name %>/phases/1.html"><%= guide.title %></a>
        <% end %>
      </li>
    <% end %>
  </ul>
</article>
